@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  text-align: center;
  color: #fff;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  padding: .6em;
}

li {
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: white;
}
